.room-code{
  height: 40px;
  border-radius: 8px;
  overflow: hidden;
  background: #fff;
  border: 1px solid #835afd;
  cursor: pointer;
  display: flex;
  
  div {
    background: #835afd;
    padding: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  span{
    display: block;
    align-self: center;
    flex: 1;
    padding: 0 16px 0 12px;
    width: 230px;
    font-size: 14px;
    font-weight: 500;
  }
}

@media (max-width:768px) {
  .room-code{
    height: 2rem;
    margin-left: 0.5rem;
    div{
      padding: 0 0;
      img{
        height: 60%;
      }
    }
    span{
      width: 10rem;
      padding: 0;
      font-size: 0.6rem;
    }
  }
}